[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=pierogi
Exec=/opt/pierogi/bin/pierogi
Icon=pierogi64
X-Window-Icon=pierogi64
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
